RewriteEngine on

RewriteRule ^index$ index.php [L,NC]
RewriteRule ^about$ about.php [L,NC]
RewriteRule ^cohorts$ cohorts.php [L,NC]
RewriteRule ^downloads$ downloads.php [L,NC]
RewriteRule ^search$ search.php [L,NC]